body{
    background-color: #e9ddd8;
}

img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    box-shadow: 0px 0px 20px #000000
}

h1{
    text-align: center;
    font-family: "Brush Script MT";
    font-size: 60px;
    color: white;
  text-shadow: 2px 2px 4px #000000;
  padding-left: 180px;
}

.carrinho{
    /* color: #e66b6b; */
    color: #0000007d;
    position: absolute;
    right: 8px;
    bottom: 14px;
    font-size: 41px;
    cursor: pointer;
}

#carrinho-principal{
    font-size: 60px;
    color: #000000;
    cursor: pointer;
    padding-left: 80px;
    vertical-align: text-bottom;
    /* float: right; */
}

#carrinho-principal:hover{
    color: white;
}

.btMaisMenos{
    right: 10px;
    bottom: 20px;
    position: absolute;
}

.btMais, .btMenos{
    cursor: pointer;
    color: #e66b6b;
    font-weight: bold;
    font-size: 30px;
    padding: 5px;
}

.quantidade{
    position: absolute;
    right: -76px;
    bottom: 20px;
    background-color: #e66b6b;
    padding: 20px;
    border-radius: 60%;
    font-size: 20px;
}
.carrinho:hover{
    color: #e66b6b;
}

.produto{
    position: relative;
    width: 500px;
    margin-top: 20px;
}

.embrulho{
    display: grid;
    place-items: center;
}

#formulario{
    display: grid;
    place-items: center;
}

label{
    font-size: 14px;
}

input{
    width: 500px;
    height: 20px;
    border: solid #e66b6b;
}

#btFinalizar{
    background-color: #e66b6b;
    border: none;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}


p{
    background-color: #f7eaef;
    position: absolute;
    top: -8px;
    left: 70px;
    width: 80%;
    height: 73px;
    z-index: -1;
    padding-left: 40px;
    padding-top: 10px;
    border: #e66b6b solid 2px;
    font-family: 'Lucida Handwriting';
    box-shadow: 0px 0px 5px #000000;
}

 .valor{
    text-align: right;
    float: right;
    margin-right: 10px;
    background-color: #0000007d;
    color: white;
    font-weight: bold;
    padding: 5px;
    font-family: "Lucida Console";
}
